.reset-account{
    background-color: rgb(192, 192, 192);
    height: 100vh;
    padding: 50px 0 0 0;

    .form{
        width: 40%;
        margin: 0 auto;

        
    }

    .btn-reset{
        height: 40px;
        display: inline-block;
        width: 150px;
        background-color: aquamarine;
        border-radius: 5px;
    }
}

